<dialog id="receiptIdExample" class="modal">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Закрыть"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      onclick="receiptIdExample.close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-5">
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd" />
      </svg>
    </button>
    <img
      src="./img/receipts/receipt-id-example.png"
      alt="Пример чека"
      class="max-h-[570px] w-full object-contain" />
  </div>
  <button
    type="button"
    class="modal-backdrop"
    aria-label="Закрыть"
    onclick="receiptIdExample.close()"></button>
</dialog>

<dialog id="receiptCashboxExample" class="modal">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Закрыть"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      onclick="receiptCashboxExample.close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-5">
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd" />
      </svg>
    </button>
    <img
      src="./img/receipts/receipt-cashbox-example.png"
      alt="Пример чека"
      class="max-h-[570px] w-full object-contain" />
  </div>
  <button
    type="button"
    class="modal-backdrop"
    aria-label="Закрыть"
    onclick="receiptCashboxExample.close()"></button>
</dialog>

<dialog id="receiptPaymentDocumentExample" class="modal">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Закрыть"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      onclick="receiptPaymentDocumentExample.close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-5">
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd" />
      </svg>
    </button>
    <img
      src="./img/receipts/receipt-payment-document-example.png"
      alt="Пример чека"
      class="max-h-[570px] w-full object-contain" />
  </div>
  <button
    type="button"
    class="modal-backdrop"
    aria-label="Закрыть"
    onclick="receiptPaymentDocumentExample.close()"></button>
</dialog>
