<dialog id="receiptIdExample" class="modal">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Закрыть"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      onclick="receiptIdExample.close()">
      ✕
    </button>
    <img src="./img/receipts/receipt-id-example.png" alt="Пример чека" class="max-h-[570px] w-full object-contain" />
  </div>
  <button
    type="button"
    class="modal-backdrop"
    aria-label="Закрыть"
    onclick="receiptIdExample.close()"></button>
</dialog>

<dialog id="receiptCashboxExample" class="modal">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Закрыть"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      onclick="receiptCashboxExample.close()">
      ✕
    </button>
    <img
      src="./img/receipts/receipt-cashbox-example.png"
      alt="Пример чека"
      class="max-h-[570px] w-full object-contain" />
  </div>
  <button
    type="button"
    class="modal-backdrop"
    aria-label="Закрыть"
    onclick="receiptCashboxExample.close()"></button>
</dialog>

<dialog id="receiptPaymentDocumentExample" class="modal">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Закрыть"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      onclick="receiptPaymentDocumentExample.close()">
      ✕
    </button>
    <img
      src="./img/receipts/receipt-payment-document-example.png"
      alt="Пример чека"
      class="max-h-[570px] w-full object-contain" />
  </div>
  <button
    type="button"
    class="modal-backdrop"
    aria-label="Закрыть"
    onclick="receiptPaymentDocumentExample.close()"></button>
</dialog>
