<footer class="mb-14 bg-neutral-200 md:mb-0">
  <div class="container">
    <div class="flex flex-col gap-3 py-10 md:flex-row md:items-center md:justify-between">
      <div class="flex items-center gap-3">
        <img class="h-[56px] w-[56px]" src="./img/common/logo.png" alt="logo" />

        <a href="/" class="max-w-[300px] text-sm leading-[140%] text-neutral-500">
          Разработка сервиса: <br />
          Информационно-издательский центр по налогам и сборам
        </a>
      </div>
      <div class="flex flex-col gap-2">
        <a class="link link-default" href="#">Политика обработки персональных данных</a>
        <p class="text-sm text-neutral-500">© 2026 Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
@@include('cookie-banner.html')
