@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: oklch(0.7372 0.1499 54.45);
}

@theme {
  --font-sans: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --color-primary-hover: oklch(0.6334 0.1644 49.19);
}

@import './input.css';
@import './tabs.css';
@import './buttons.css';
@import './headings.css';
@import './links.css';
@import './cards.css';
@import './mobile-nav.css';

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 1 auto;
  }
}

html {
  @apply bg-neutral-50;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 16px;
}
